[user]
	name = Zhemin Zhuang
	email = zmzhuang@cadence.com
[alias]
	st = status
	br = branch
	co = checkout
	ci = commit
	unstage = reset HEAD --
	last = log -1 HEAD
	ls = ls-files
[core]
	editor = vim
[diff]
	tool = vimdiff
