[user]
	name = zhuangzhemin
	email = zhuangzhemin@qq.com
[alias]
	st = status
	br = branch
	co = checkout
	ci = commit
	unstage = reset HEAD --
	last = log -1 HEAD
	ls = ls-files
	df = difftool
[core]
	editor = nvim
[difftool]
    prompt = false
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[push]
	default = simple
